[Unit]
Description=Spaceona Database Server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/spaceona-db-server
Restart=always

# Replace the following line with your actual Docker Compose command
ExecStart=docker-compose up --build -d

[Install]
WantedBy=multi-user.target